table {
    width: 100%; 
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px; 
  }
  th {
    background-color: #f2f2f2;
    font-size: 1.1em; 
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tr:hover {
    background-color: #e8e8e8;
  }

 .btn-supprimer {
    background-color: red; 
    color: white; 
}

.btn-modifier {
    background-color: blue;
    color: white;
}


.form-container {
  background-color: greenyellow;
  display: flex;
  align-items: center; 
  margin-right: 250px; 
  font-size: 1.7em;
  text-align: center;

}


.form-header {
  font-size: 2.0em;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal; 
  margin-left: 100px;
  text-align: center;
  text-rendering: optimizeLegibility;
  flex: none; 
}


.form-content {
  flex: 4; 
  display: flex;
  justify-content: flex-end; 
}
