<!-- medecin.component.html -->
<table>
  <thead>
    <tr>
      <th>ID Médecin</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Spécialité</th>
      <th>Années d'Expérience</th>
      <th>ID Service</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let medecin of medecins">
      <td>{{ medecin.idmedecin }}</td>
      <td>{{ medecin.prenom }}</td>
      <td>{{ medecin.nom }}</td>
      <td>{{ medecin.specialite }}</td>
      <td>{{ medecin.annesexperiences }}</td>
      <td>{{ medecin.idservice }}</td>
      <button (click)="deleteMedecin(medecin.idmedecin)">Delete</button>
    </tr>
    <app-form-creation-medecin></app-form-creation-medecin>
  </tbody>
</table>
